@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Custom slider styles */
.slider {
  @apply relative flex items-center select-none touch-none w-full h-5;
}

.slider .slider-track {
  @apply relative h-2 grow rounded-full bg-gradient-to-r from-purple-400 to-pink-600;
}

.slider .slider-range {
  @apply absolute h-full rounded-full bg-white;
}

.slider .slider-thumb {
  @apply block w-5 h-5 rounded-full bg-white border-2 border-purple-500 focus:outline-none focus-visible:ring-2 focus-visible:ring-purple-500 focus-visible:ring-opacity-75;
}

